## Credenciais Telegram
TELEGRAM_BOT_TOKEN=<insira_seu_token_aqui> ## Informe aqui o seu token do Telegram

## Credenciais OpenWeather
OPENWEATHER_API_KEY=<insira_sua_chave_aqui> ## Informe aqui sua chave de API da OpenWeather

## Credenciais Gemini (opcional)
DEFAULT_GEMINI_API_KEY=<insira_sua_chave_aqui> ## Informe aqui sua chave de API do Gemini

## Webhook
WEBHOOK_URL=<insira_seu_web_aqui> ## Informe aqui o endereço do seu webhook do Ngrok

## Credenciais Ngrok
NGROK_AUTHTOKEN=<insira_seu_token_aqui> ## Informe aqui o seu token do Ngrok

## Credenciais Postgres
DB_POSTGRESDB_USER=postgres
DB_POSTGRESDB_PASSWORD=insira_uma_senha_forte